//colors
$main-txt-color: #fff;
$another-txt-color: #000;
$blured-color: #eaeff0;
$form-color: #201a4f;
$background-color: #030718;
$accent-color: #6a54ff;
$active-color: #57e1ff;

//font-family
$main-font-family: "IBM Plex Sans", sans-serif;

//widths
$not-modal-burger-menu: 1100px;
$base-container: 1280px;
$tablet: 769px;
$desktop: 1280px;
